:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    font-size: 60%;
}
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

/* 
UNIDADES DE MEDIDA CSS

vh - viewport height - altura da tela
vw - viewport width - largura da tela


rem - define o tamamanho, em relação à um font-size já existente; exemplo:
body{font-size:10px;} div p{font-size:0.6rem;}
esse 0.6 multiplica o valor do font-size que está em todo body, logo, se torna 60% do tamanho do body (6px)
 
vmin - 1/100 do valor mínimo entre a largura e altura mínima da janela
vmax - 1/100 do valor máximo entre a largura e altura máxima da janela
se:
largura: 800px;
altura: 1000px;

1 vmin: 8px;   -> 1/100 de 800px
1 vmx: 10px;   -> 1/100 de 1000px




*/


html, body, #root{
    height: 100vh;/*1vh = 1/100 altura da tela!!*/
}

body{
    background-color: var(--color-background);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, textarea, button{
    font:500 1.6rem Poppins;
    color:var(--color-text-base);
}

.container{
    width: 90vw;/*ou 90% da largura tela*/
    max-width: 700px;

}

@media(min-width:700px){
    :root{
        font-size: 62.5%;
    }
}